.travel-maindiv{
border:3px solid gray;
}
.travel-maindiv img{
 width   :100%
}

travel-maindiv h5, .travel-maindiv p{
    margin: 20px;
    }
    .movie-head{
    font-size: 20px;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    }
    .movie-head i{
    float: right;
    }
    .movie-text span{
    color:goldenrod;
    }
    .book img{
    width: 300px;
    height: 500px;
    }
    #aboutme iframe{
    width: 100%;
    }